body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	/* background-color: #c0c0c0; */
}

a:link	  { text-decoration: none; color: #0043C0; }
a:visited { text-decoration: none; color: #c042c0; }
a:hover   { color: red; background-color: yellow; }
a:active  { color: #ff0000; }

span td 	   { font-size: 20px; font-weight: bold; }
span a:link    { color: black; }
span a:visited { color: #808080; }
span a:hover   { color: #ff6600; background-color: #c0c0c0; }

th, ul, ol, p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size-adjust: 0.5;
	line-height: 18px;
	text-align: justify;
}

pre {
	/* font-family: "Courier New", monospace; */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

p.title {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #eeeeee;
	text-align: center;
}

p.center {
	font-size: 12px;
	text-align: center;
}

p {
	margin: 0em;
}

p.indent {
	text-indent: 1.5em;
}

span.highlight {
	background-color: yellow
}

h3 {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #555555;
	margin-top: 0.7em;
	margin-bottom: 0px;
}

.code {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #222277;
	text-align: left;
}

.output {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #772222;
}

.prompt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-family: "Courier New", monospace;
	font-size: 12px;
	line-height: 18px;
	color: #008000;
	font-weight: bold;
}

