a:link.top    { color: #888888; text-decoration: none; }
a:visited.top { color: #888888; text-decoration: none; }
a:hover.top   { color: #FF8800; background-color: #C0C0C0; }
a:active.top  { color: #FFFFFF; }

a:link        { color: #0043C0; text-decoration: none; }
a:visited     { color: #C042C0; text-decoration: none; }
a:hover       { color: #FF0000; background-color: yellow; }
a:active      { color: #FF0000; }

body {
	background-color: #AAAAAA;
	max-width: 550px;
	margin: 8px auto;
}

div.page {
	background-color: #C0C0C0;
	box-shadow: 0 0 4px #333;
	border-radius: 5px;
	padding: 0 25px;
}

hr {
	height: 1px;
	background-color: #999999;
	border: 0 none;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-align: justify;
	margin: 0px;
}

p.menu {
	font-size: 22px;
	line-height: 32px;
	font-weight: bold;
	color: #FF8000;
	text-align: center;
	text-shadow: 1px 1px 1px #333;
	padding: 11px;
}

p.title {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #eeeeee;
	background-color: #88a0a4;
	text-align: center;
	text-shadow: 1px 1px 1px #333;
	border: 1px solid black;
	padding: 5px;
}

p.indent {
	text-indent: 1.5em;
}

p.center {
	text-align: center;
}

span.highlight {
	background-color: yellow;
}

@media screen and (max-width: 550px) {
	body { margin: 0px; }
	div.page { padding: 8px; }
	p.menu { padding: 3px; }
}

